autopep8
certifi
contourpy
cycler
dbus-python==1.2.18
defusedxml
Deprecated==1.2.13
fonttools
kiwisolver
matplotlib
mock
numexpr
numpy
olefile
packaging
Pillow
psutil==5.9.4
pycodestyle
pygenn
pyparsing
PyQt5
PyQt5-sip
python-dateutil
pytz
six
tables
tomli
tornado
tqdm
wrapt==1.15.0
networkx
jsonschema
